<form id="createBlog">
    <div>
        <h1 class="blog">
            <input id="title"/>
        </h1>
    </div>
    <div>
        <textarea id="content">
Ez az első blogom.

Mindjárt több sorral.
        </textarea>
    </div>
    <div>
        <input type="button" value="Létrehoz"
            onClick="byId('createBlog').createBlog();"/>
    </div>
</form>

<script type="text/javascript">
    this.createBlog = function() {
        var title = byId("title").value;
        var content = byId("content").value;
        var data = {
            "_t": "CreateBlog",
            "title": title,
            "content": content,
            "loggedIn": ""
        };
        ajaxPost("/commands/blog/{{uuid}}", data);
    };
</script>
