<form id="createBlog">
    <div>
        <h1 class="blog">
            <input id="title"/>
        </h1>
    </div>
    <div>
        <textarea id="content"></textarea>
    </div>
    <div>
        <input type="button" value="Create"
            onClick="byId('createBlog').createBlog();"/>
    </div>
</form>

<script type="text/javascript">
    this.createBlog = function() {
        var title = byId("title").value;
        var content = byId("content").value;
        var data = {
            "_t": "CreateBlog",
            "title": title,
            "content": content,
            "datetime": new Date().toISOString(),
            "loggedIn": ""
        };
        ajaxPost("/commands/blog/{{uuid}}", data);
    };
</script>

<link href="css/blog.css" type="text/css" rel="stylesheet" />

