<style>
.comment {
    margin-left: 20px;
}
h2 {
    background-color: #f0f0f0;
}
</style>

<div class="discussion">
    <h1>
        <a href="/query/blog/{{_id}}">{{title}}</a>
    </h1>
    <span class="to-blog">
        <a href="/query/blog/{{blogId}}">Vissza a blogra</a>
    </span>
    {{> comment}}
</div>
