<style>
    .comment {
        margin-left: 16px;
        border-left: solid #f5f5f5;
    }
    .comment > div:first-child {
        margin-top: 8px;
        border: thin solid #808080;
        background-color: #f0f0f0;
    }
    h2 {
        /*background-color: #f0f0f0;*/
    }
</style>

<div class="discussion">
    <h2>
        <a href="/blog/{{blogId}}">{{title}}</a>
    </h2>
    <p>{{userName}}</p>
    <div>
        <a href="/discussion/{{_id}}/new" class="button">Új hozzászólás</a>
    </div>
    {{> comment}}
</div>
