<div class="discussion">
    <h2>
        <a href="/blog/{{blogId}}">{{title}}</a>
    </h2>
    <p>{{userName}}</p>
    <div>
        <a href="/discussion/{{_id}}/new" class="button">Új hozzászólás</a>
    </div>
    {{> comment}}
</div>

<link href="css/comment.css" type="text/css" rel="stylesheet" />

<script>
    var codes = document.querySelectorAll('pre code:not(.hljs)');
    for (i = 0; i < codes.length; i++) {
        hljs.highlightElement(codes[i]);
    }
</script>

