<style>
    .comment > div:first-child {
        margin: 8px 0px 0px 0px;
        border: thin solid #808080;
        background: #fafafa;
    }

    .comment {
        padding: 0px;
        margin: 0px 0px 0px 16px;
        border-left: solid #f5f5f5;
    }

    .comment-header {
        display: flex;
        justify-content: space-between;
        margin: 0px;
        padding: 0px;
    }

    h2 {
        /*background-color: #f0f0f0;*/
    }
</style>

<div class="discussion">
    <h2>
        <a href="/blog/{{blogId}}">{{title}}</a>
    </h2>
    <p>{{userName}}</p>
    <div>
        <a href="/discussion/{{_id}}/new" class="button">Új hozzászólás</a>
    </div>
    {{> comment}}
</div>
